<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">SQL监控</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{admin}">首页</a></li>
                    <li class="breadcrumb-item active">系统工具</li>
                    <li class="breadcrumb-item active">SQL监控</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Main content -->
        <iframe scrolling="yes" frameborder="0"
                style="width: 100%; min-height: 200px; overflow: visible; background: rgb(255, 255, 255); height: 567px;"
                name="dataIframe" th:src="@{/druid/sql.html}"></iframe>
    </div>
</section>