<form id="themeForm">
    <input name="id" type="hidden" th:value="${theme?.id}">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">主题名称:</label>
        <div class="col-sm-10">
            <input type="text" th:value="${theme?.name}" name="name" class="form-control" id="name"
                   placeholder="填写主题名称" required>
            <div class="invalid-feedback">请填写主题名称</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">主题描述:</label>
        <div class="col-sm-10">
            <input type="text" th:value="${theme?.description}" name="description" class="form-control"
                   id="description"
                   placeholder="填写主题描述" required>
            <div class="invalid-feedback">请填写主题描述</div>
        </div>
    </div>
    <div class="form-group row">
        <label for="img" class="col-sm-2 col-form-label">主题图片:</label>
        <div class="col-sm-10">
            <input type="text" th:value="${theme?.img}" name="img" class="form-control"
                   id="img"
                   placeholder="填写主题图片" required>
            <div class="invalid-feedback">请填写主题图片</div>
        </div>
    </div>
</form>